.table {
  width: var(--max-width);
  background: var(--bg-clr-1);
  border-radius: var(--border-radius);
  overflow: hidden;

  .tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40px;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;

    h3 {
      color: var(--text-clr-2);
    }
  }
}

.emptyCartTitle {
  text-align: center;
  color: var(--text-clr-2);
}

.redirect {
  color: var(--accent-clr-1);
  font-size: inherit;

  &:hover {
    text-decoration: underline;
  }
}
