.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 24px;
  background: var(--bg-clr-2);
  border-radius: var(--border-radius);

  .textContainer {
    h1 {
      line-height: 34px;
      margin: 0 0 16px;
    }
  }

  .bannerImg {
    width: 50%;
  }
}
