.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  .imgContainer,
  .formContainer {
    display: grid;
    place-content: center;

    width: 100%;
    height: 100%;
  }

  .imgContainer {
    background: var(--bg-clr-2);
  }

  .formContainer {
  }
}

.login,
.password {
  label[data-shrink='true'] {
    color: var(--accent-clr-1) !important;
  }
}

.submit:hover {
  background-color: var(--accent-clr-2) !important;
}
