.mainGrid {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
  max-width: var(--max-width);
  margin: calc(72px + 24px) auto;
}

.goodsGrid {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 24px;
}
