.login,
.password {
  label[data-shrink='true'] {
    color: var(--accent-clr-1) !important;
  }
}

.submit:hover {
  background-color: var(--accent-clr-2) !important;
}

.form {
  max-width: 394px;
  max-height: 500px;
  overflow: auto;
  padding: 0 12px;
}
