.mainContainer {
  display: grid;
  place-content: center;
  padding: calc(72px + 48px) 16px 72px calc(300px + 16px);
  // min-height: calc(100vh - 72px);
  min-height: 100vh;
  background: var(--bg-clr-2);
  gap: 128px;
}
