.table {
  width: 100%;
  background: var(--bg-clr-1);
  border-radius: var(--border-radius);
  overflow: hidden;

  .tableHeader {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 40px;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;

    h3 {
      color: var(--text-clr-2);
    }
  }
}

.totalContainer,
.buyButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40px;
  padding: 12px 24px;
}

.totalContainer {
  margin: 24px 0 0;

  h3 {
    font-size: 24px;

    &:last-child {
      grid-column: 5/6;
    }
  }
}

.emptyCartTitle {
  text-align: center;
  color: var(--text-clr-2);
}
